.containerDeliveryRules {
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 0 2rem 7rem;
    font-family: "Arial", sans-serif;

    &__content {
        display: flex;
        gap: 25px;
        flex-direction: row;
        align-items: center;

        @media screen and (max-width: 900px) {
            flex-direction: column;
        }

        &__cards {
            height: 380px !important;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            margin: 0 20px 0;
            background: #f69049;
            padding: 20px;
            border-radius: 10px;
            align-items: center;
            gap: 50px;
            width: 100%;

            &_info {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                gap: 15px;

                &_h2 {
                    font-family: "Poppins";
                    font-style: normal;
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 104.5%;
                    color: #ffffff;
                    text-align: left;
                    margin: 0;
                }

                &_p {
                    font-family: "Poppins";
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    color: #ffffff;
                    margin: 0;
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                }
            }
        }
    }
}